@import './vars.scss';

.bg-gray {
  background-color: $color-gray;
}

.bg-lead {
  background-color: $color-lead;
}

.bg-white {
  background-color: #ffffff;
}

.bg-red {
  background-color: $color-red;
}