$color-gray: #DFE1EB;
$color-lead: #494E67;
$color-purple: #713BDB;
$color-green: #6ab04c;
$color-blue: #4CB8FF;
$color-red: #e74c3c;

:root {
  --color-gray: #DFE1EB;
  --color-lead: #494E67;
  --color-purple: #713BDB;
  --color-green: #6ab04c;
  --color-blue: #4CB8FF;
  --color-red: #e74c3c;
}